# -------------------
# Flutter / Dart
# -------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/

# iOS
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec

# -------------------
# Android
# -------------------
/android/.gradle/
/android/app/build/
/android/app/debug
/android/app/profile
/android/app/release
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# -------------------
# IDE / Editor
# -------------------
.idea/
*.iml
*.ipr
*.iws
.vscode/

# -------------------
# Miscellaneous
# -------------------
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------
# Obfuscation & Symbolication
# -------------------
app.*.map.json
app.*.symbols

# -------------------
# Firebase / API secrets
# -------------------
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
